.main-home {
  .s-hero-home {
    position: relative;
    padding: 35rem 0 25.3rem;
    overflow: hidden;
    
    @include mq('md', 'max') {
      padding: 17.7rem 0 7.2rem;
    }

    & > * {
      position: relative;
      z-index: 10;
    }

    &__video {
      position: absolute;
      left: 0;
      top: 0;
      min-width: 100%; 
      min-height: 100%;
      object-fit: cover;
    }
    
    &__text {
      max-width: 95.5rem;
      @include heading-h3;
      color: $color-mono-white;

      @include mq('md', 'max') {
        @include mb-body-medium;
        font-weight: 400;
      }
    }

    &__wrapper {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      @include mq('md', 'max') {
        display: block;
      }
    }

    .stamp {
      position: absolute;
      right: 15rem;
      top: 26rem;
      
      @include mq('lg', 'max') {
        right: 0;
      }

      @include mq('md', 'max') {
        display: none;
      }
    }

    &__primary {
      max-width: 109.1rem;
      width: 100%;
    }

    &__items {
      margin: 12.1rem 0 26.9rem;
      
      @include mq('md', 'max') {
        margin: 5rem 0 0;
      }
    }

    &__item {
      &:not(:last-of-type) {
        margin-bottom: 15.5rem;
        
        @include mq('md', 'max') {
          margin-bottom: 5rem;
        }
      }

      &__link {
        display: inline-block;

        &:hover {

          .s-hero-home__item__title {
            &::before {
              width: 8rem;
              height: 8rem;
              
              @include mq('md', 'max') {
                width: 1.5rem;
                height: 1.5rem;
              }
            }
            
            &::after {
              left: 2.5rem;
              transform: translateY(-50%);
              opacity: 1;
              transition: all $duration-300 $duration-300;
            }
          }

          .s-hero-home__item__title {
            color: $color-mono-white;
          }
        }
      }
  
      &__title {
        position: relative;
        padding-left: 13.5rem;
        @include others-x-large-title-bold;
        color: $color-brand-orange;
        transition: color $duration-300;
        
        @include mq('lg', 'max') {
          padding-left: 7.5rem;
        }
        
        @include mq('md', 'max') {
          padding-left: 4.1rem;
          @include heading-h2-bold;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 3rem;
          height: 3rem;
          background: $color-brand-orange;
          border-radius: 50%;
          transition: all $duration-300;
          
          @include mq('md', 'max') {
            width: 1.5rem;
            height: 1.5rem;
          }
        }

        &::after {
          content: '';
          position: absolute;
          left: -2rem;
          top: 50%;
          transform: translateY(-50%);
          width: 2.8rem;
          height: 2.8rem;
          background: url(../images/icons/icon-arrow-title.svg) center / cover no-repeat;
          opacity: 0;
          transition: all $duration-300;

          @include mq('md', 'max') {
            display: none;
          }
        }

        span {
          font-weight: 450;
          font-size: 5rem;
          line-height: 6.3rem;
          color: $color-brand-dark;

          @include mq('md', 'max') {
            font-size: 2rem;
            line-height: 2.5rem;
          }
        }
      }

      &__text {
        max-width: 57.6rem;
        margin: 3rem 0 0 14.5rem;
        @include body-medium;
        color: $color-mono-gray-dark;
        transition: color $duration-300;
        
        @include mq('md', 'max') {
          margin: 1.5rem 0 0 4.5rem;
          @include mb-body-default;
        }
      }
    }

    &__secondary { 
      max-width: 59.8rem;
      width: 100%;
      
      @include mq('md', 'max') {
        max-width: unset;
        margin-top: 5rem;
      }

      p {
        @include body-big;
        color: $color-mono-white;

        @include mq('md', 'max') {
          @include mb-body-medium;        
        }
      }
    }

    &__btn {
      margin-top: 6rem;
      
      @include mq('md', 'max') {
        margin-top: 5rem;
      }

      @include mq('xs', 'max') {
        width: 100%;
      }
    }
  }

  .s-video {
    position: relative;
    height: 100vh;
    background-color: $color-brand-orange;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/video-bg.png) top center / cover no-repeat;
    overflow: hidden;

    @include mq('md', 'max') {
      display: block;
      height: auto;
      background: #fff;
    }

    &__frame {
      cursor: pointer;
      filter: blur(0);
      overflow: hidden;
      will-change: filter;

      @include mq('md', 'max') {
        width: 100%;
        height: 0;
        padding-bottom: 56%;
      }
    }

    video {
      width: 100vw;
      height: 56.25vw;
      min-height: 100vh;
      min-width: 177.77vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;

      @include mq('md', 'max') {
        position: absolute;
        left: 0;
        top: 0;
        transform: unset;
        min-width: unset;
        min-height: unset;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: all;        
      }
    }

    &__text {
      position: absolute;
      left: 50%;
      bottom: 5rem;
      transform: translateX(-50%);
      z-index: 1000;
      max-width: 68.4rem;
      width: 100%;
      margin: 10rem auto 0;
      @include body-big;
      font-size: 12px;
      line-height: 3.6rem;
      letter-spacing: -.08rem;
      text-align: center;
      color: #fff;

      span {
        font-size: 12px;
      }

      @include mq('md', 'max') {
        display: none;
      } 
    }
  }

  .s-banner-gps {
    background: url(../images/banner-gps-bg.png) center / cover no-repeat;
    padding: 19rem 0;
    
    @include mq('md', 'max') {
      background: url(../images/banner-gps-bg-mb.png) center / cover no-repeat;
      padding: 9rem 0 4.5rem;
    }

    &__wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 116.4rem;
      width: 100%;
      margin: 0 auto;

      @include mq('md', 'max') {
        flex-direction: column;
        align-items: center;
      }
    }

    &__logo {
      max-width: 44.6rem;
      width: 100%;
      margin-right: 3rem;

      @include mq('md', 'max') {
        display: none;
      }
    }

    &__logo-mobile {
      display: none;
      max-width: 24.5rem;

      @include mq('md', 'max') {
        display: block;
      }
    }

    &__content {
      max-width: 44.8rem;
      width: 100%;

      @include mq('md', 'max') {
        margin-top: 3.2rem
      }
    }

    &__text {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 3.2rem;
      letter-spacing: -1px;
      color: $color-mono-gray;

      @include mq('md', 'max') {
        text-align: center;
        font-size: 2rem;
        line-height: 2.2rem;
        color: $color-mono-white;
      }
      
      span {
        color: $color-brand-orange;
        
        @include mq('md', 'max') {
          color: $color-mono-black;
        }
      }
    }

    &__btn {
      margin-top: 6rem;
      padding: 2rem 6rem;
      color: $color-mono-white;
      border-color: $color-mono-white;
      
      @include mq('md', 'max') {
        width: 100%;
        margin-top: 8.4rem;
        padding: 2rem;
      }
      
      &:hover {
        background-color: $color-brand-orange;
        border-color: $color-brand-orange;
      }
    }
  }

  .s-jobs {
    background-color: $color-mono-white;
    padding: 24rem 0 0;
    
    @include mq('md', 'max') {
      padding: 6rem 0 0;
    }
  
    &__grid {
      display: grid;
      gap: 11.7rem;

      @include mq('xl', 'max') {
        grid-template-columns: 1fr 1fr;
        gap: 10rem;
      }

      @include mq('md', 'max') {
        grid-template-columns: 1fr;
        gap: 6rem;
      }

      &--1 {
        grid-template-columns: 1fr 71.5rem;

        .job {
          &:nth-child(2) {
            margin-top: 21rem;
            
            @include mq('md', 'max') {
              margin-top: 0;
            }
      
            .job__figure {
              height: 78rem;
              
              @include mq('md', 'max') {
                height: 38.582rem;
              }
            }
          }
        }

      }
    
      &--2 {
        grid-template-columns: 71.5rem 1fr;
        margin-top: 16.2rem;

        @include mq('xl', 'max') {
          grid-template-columns: 1fr 1fr;
          gap: 10rem;
        }

        @include mq('md', 'max') {
          grid-template-columns: 1fr;
          gap: 6rem;
          margin-top: 8.5rem;
        }

        .job {
          &:nth-child(1) {
            margin-top: 21rem;
            
            @include mq('md', 'max') {
              margin-top: 0;
            }
      
            .job__figure {
              height: 78rem;
              
              @include mq('md', 'max') {
                height: 38.582rem;
              }
            }
          }
        }
      }
    }
  
    .job {
      &__figure {
        position: relative;
        height: 107.7rem;
        border-radius: 1rem;
        overflow: hidden;
        
        @include mq('md', 'max') {
          width: calc(100% + (#{$container-padding} * 2));
          margin-left: -#{$container-padding};
          height: 38.582rem;
          border-radius: 0;
          padding: 2.5rem;
        }
      }
  
      &__img {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      &__client {
        margin-top: 4rem;
        display: block;
        @include body-medium;
        color: $color-brand-orange;
        
        @include mq('md', 'max') {
          margin-top: 2.5rem;
          @include mb-body-default;
        }

        @include mq('sm', 'max') { 
          margin-top: 0;
          @include mb-body-default;
        }
      }
  
      &__name {
        margin-top: .5rem;
        @include heading-h2-bold;
        color: $color-mono-black-dark;
        
        @include mq('md', 'max') {
          margin-top: 0;
          @include body-big-bold;
        }
      }

      &__text {
        margin-top: 3rem;
        
        @include mq('md', 'max') {
          margin-top: 2rem;
        }
  
        p {
          @include body-medium;
         color: $color-mono-black-light;
        }
      }
    }

    &__btn {
      display: table;
      margin: 16.2rem auto 0;

      @include mq('xs', 'max') {
        width: 100%;
        margin: 6rem auto 0;
      }
    }
  }

  .s-clients {
    padding: 39.5rem 0 26rem;
    
    @include mq('md', 'max') {
      padding-top: 12rem;
      padding-bottom: 12rem; 
    }
    
    &__title-bg {
      top: 16rem;
    }
  }

  .s-testimonials {
    padding-top: 0rem;

    .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
      left: 0;
      bottom: 0;
      position: relative;
      transform: initial;
    }
  }
}