.main-about {

  // HERO
  .s-hero-about {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // pointer-events: none;
    overflow: hidden;

    @include mq('md', 'max') {
      width: 100%;
      height: 0;
      padding-bottom: 56%;
      margin-top: 14rem; 
    }
    
    video {
      width: 100vw;
      height: 56.25vw;
      min-height: 100vh;
      min-width: 177.77vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;

      @include mq('md', 'max') {
        position: absolute;
        left: 0;
        top: 0;
        transform: unset;
        min-height: unset;
        min-width: unset;
        width: 100%;
        height: 100%; 
        pointer-events: all;
        object-fit: cover;
      }
    }
  }
  
  .s-digital-agency {
    position: relative;
    z-index: 10;
    padding: 18rem 0;
    background-color: $color-mono-white;
    
    @include mq('md', 'max') {
      padding: 8rem 0 0;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding-right: 12rem;
      
      @include mq('xl', 'max') {
        padding-right: 6rem;
      }

      @include mq('md', 'max') {
        display: block;
        padding-right: 0;
      }
    }

    &__texts {
      max-width: 95.5rem;
      width: 100%;
      margin-right: 3rem;
      
      @include mq('md', 'max') {
        max-width: unset;
        margin-right: unset;
      }
    }

    &__title {
      @include heading-h1-bold;
      color: $color-brand-orange;
      
      @include mq('md', 'max') {
        @include heading-h2-bold;
      }
    }
    
    &__primary {
      margin-top: 8rem;
      
      @include mq('md', 'max') {
        margin-top: 3rem;
      }
    
      p {
        @include heading-h3;
        
        @include mq('md', 'max') {
          @include mb-body-big;
        }
      }
    }
    
    &__secondary {
      margin-top: 4rem;
      
      @include mq('md', 'max') {
        margin-top: 3rem;
      }

      p {
        @include body-big;
        color: $color-mono-black-light;
        
        @include mq('md', 'max') {
          @include mb-body-medium;
        }

        &:not(:last-of-type) {
          margin-bottom: 3.6rem;
        }
      }
    }

    &__content {
      max-width: 42rem;
      width: 100%;
      @include mq('md', 'max') {
        display: none;
      }
    }

    &__figure {
      width: 100%;
      height: 65.7rem;
      margin-top: 18rem;
      border-radius: 1rem;
      overflow: hidden;
      
      @include mq('md', 'max') {
        display: none;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }

    &__subtitle {
      margin-top: 22rem;
      @include heading-h1;
      
      @include mq('md', 'max') {
        margin-top: 10rem;
        @include heading-h3;
      }
    }
  }

  // Cultura
  .s-work-culture { 
    background-color: $color-mono-white;
    
    @include mq('md', 'max') {
      padding-top: 18rem;
    }
  }
  
  // Lideranças
  .s-leaders {
    margin-top: 18rem;
    padding: 17rem 0;
    background-color: $color-mono-gray-light;
    
    @include mq('md', 'max') {
      padding: 4rem 0;
    }
  
    &__title {
      @include heading-h2-bold;
      
      @include mq('md', 'max') {
        @include heading-h3-bold;
      }
    }
    
    &__people {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 6rem 3.333rem;
      margin-top: 6rem;
      
      @include mq('xl', 'max') {
        grid-template-columns: repeat(3, 1fr);
      }
      
      @include mq('md', 'max') {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 3rem;
      }
  
      @include mq('xs', 'max') {
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 3rem;
      }
    }
  
    &__person {
      display: flex;
      align-items: center;
      flex-direction: column;
  
      // &:hover {
      //   cursor: none;
      // }
  
      & > * {
        pointer-events: none;
      }
  
      &__photo {
        width: 100%;
        height: 48rem;
        border-radius: 1rem;
        overflow: hidden;
        
        @include mq('md', 'max') {
          height: 32rem;
        }
      }
  
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
  
      &__name {
        margin-top: 3rem;
        @include heading-h3-bold;
        text-align: center;
        color: $color-brand-orange;
        
        @include mq('md', 'max') {
          @include body-big;
        }
      }
      
      &__position {
        margin-top: .5rem;
        @include body-medium;
        text-align: center;
        color: $color-mono-black-light;
        
        @include mq('md', 'max') {
          margin-top: 0;
          @include mb-body-default;
        }
      }
    }
  }
  
  .s-clients {
    padding-top: 31.5rem;
    
    @include mq('md', 'max') {
      padding-top: 10.5rem;
    }

    &__title-bg {
      top: 8rem;
    }
  }
  
  // Premios
  .s-awards { 
    position: relative;
    margin: 41.8rem 0 28rem;
    
    @include mq('md', 'max') {
      margin: 10.5rem 0 8rem;
    }
  
    & > * {
      position: relative;
      z-index: 1000;
    }
  
    &__wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
  
      @include mq('md', 'max') {
        display: block;
      }
    }
  
    &__title-bg {
      position: absolute;
      right: -94rem;
      top: -23rem;
      font-weight: 700;
      font-size: 49rem;
      line-height: 62rem;
      letter-spacing: -3rem;
      -webkit-text-fill-color: $color-mono-white;
      -webkit-text-stroke-width: .2rem;
      -webkit-text-stroke-color: $color-mono-gray-light;

      @include mq('md', 'max') {
        display: none;
      }
    }
  
    &__content {
      max-width: 71.7rem;
      
      @include mq('md', 'max') {
        max-width: unset;
      }
    } 
  
    &__title {
      @include heading-h1-bold;
      color: $color-brand-orange;
      
      @include mq('md', 'max') {
        @include heading-h3-bold;
  
      }
    }
  
    &__text {
      margin-top: 2rem;
      @include body-medium;
      color: $color-mono-black-light;
      
      @include mq('md', 'max') {
        @include mb-body-medium;
      }
    }
  
    &__slider-content {
      max-width: 86.497rem;
      width: 100%;
      margin: 8.6rem 3rem 0 0;
      
      @include mq('md', 'max') {
        max-width: unset;
        width: 250px;
        // margin: 6.5rem -2.5rem;
        overflow: hidden;
        margin: 0px auto;
        margin-top: 6.5rem;
        margin-bottom: 6.5rem;
      }

      .swiper-slide {
        width: auto !important;
      }
    }
  
    &__slider {
      overflow: unset;
  
      // @include mq('md', 'max') {
      //   padding-right: 8rem;
      // }
    }
  
    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
      
      @include mq('lg', 'max') {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  
    &__card {
      filter: drop-shadow(0px 35px 30px rgba(0, 0, 0, 0.05)) drop-shadow(0px 15px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.03)) drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.0196802));
      border-radius: .5rem;
      overflow: hidden;
      background: #fff;
      height: 157px;
      padding: 5%;

      @include mq('sm', 'max') {
        filter: none;
      }
    }
  
    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: .5rem;
    }
  
    &__pagination {
      justify-content: center;
      margin-top: 4rem;
      display: none;
      
      @include mq('md', 'max') {
        position: relative;
        display: flex;
      }
  
      .swiper-pagination-bullet {
        width: 1.2rem;
        height: .8rem;
        background: $color-mono-gray;
        border-radius: .4rem;
        opacity: 1;
  
        &:not(:last-of-type) {
          margin-right: .5rem;
        }
  
        &.swiper-pagination-bullet-active {
          width: 4.2rem;
          background-color: $color-brand-orange;
        }
      }
    }
  }
}

@include mq('md', 'max') { 
  .page-template-page-sobre .s-header__btn-mobile{
    color: #ff6719;
  }
}