.btn-lg {
  display: inline-block;
  padding: 3rem 5rem;
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  border-radius: .8rem;

  @include mq('md', 'max') {
    padding: 1.8rem 5rem;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.05rem;
  }
}

.btn-md {
  display: inline-block;
  padding: 2rem 4rem;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: -.05rem;
  border-radius: .5rem;

  @include mq('md', 'max') {
    padding: 1.8rem 5rem;
  }
}

.btn-primary {
  background: $color-brand-orange;
  color: $color-mono-white;
  
  &:hover {
    background: $color-brand-dark;
  }
}

.btn-secondary {
  border: .2rem solid $color-brand-orange;
  color: $color-brand-orange;
  
  &:hover {
    color: $color-brand-dark;
    border-color: $color-brand-dark;
  }
  
  &.btn-lg {
    border-width: .3rem;

    @include mq('md', 'max') {
      border-width: .2rem;
    }
  }
}