.content-i {
  &__top {
    display: flex;
    align-items: flex-end;
    
    @include mq('md', 'max') {
      display: block;
    }
  }

  &__title {
    width: 100%;
    max-width: 32.8rem;
    width: 100%;
    margin-right: 2.9rem;

    @include heading-h2;
    
    @include mq('md', 'max') {
      max-width: unset;
      @include heading-h3-bold;
    }
  }

  &__text {
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: -.05rem;
    color: #777;
    flex-grow: 1;

    @include mq('md', 'max') {
      margin-top: 1rem;
    }

    p {
      @include body-medium;
      color: $color-mono-black-light;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem 10rem;
    margin-top: 6rem;
    padding-top: 6rem;
    border-top: .2rem solid $color-mono-gray;
    
    @include mq('md', 'max') {
      grid-template-columns: 1fr;
      margin-top: 4rem;
      padding-top: 4rem;
      gap: 4rem;
    }
  }

  &__item {
    &__title {
      @include heading-h3;
      color: $color-brand-orange;

      @include mq('md', 'max') {
        @include mb-body-big;
      }
    }

    &__text {
      margin-top: 3.7rem;
      @include body-medium;
      color: $color-mono-black-light;
      
      @include mq('md', 'max') {
        @include mb-body-medium;
      }
    }
  }
}