.form {
  &__field {
    margin-bottom: 4rem;
    
    @include mq('md', 'max') {
      margin-bottom: 3rem;
    }
  }

  &__checkbox {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    label {
      display: flex;
      align-items: flex-start;
    }

    &__input {
      position: relative;
      top: .3rem;
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      margin-right: 2rem;
      border: .2rem solid $color-mono-gray;
      border-radius: .4rem;
      transition: all .3s;
      outline: .2rem solid transparent;
      outline-offset: .2rem;

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1.123rem;
        height: .875rem;
        background: url(../images/icons/checked.svg) center / cover no-repeat;
        pointer-events: none;
      }

      &:hover {
        border-color: $color-brand-orange;
      }

      &:focus {
        outline: .2rem solid $color-brand-orange;
      }

      &:checked {
        background: $color-brand-orange;
        border-color: $color-brand-orange;
        
        &:hover {
          background: $color-green;
          border-color: $color-green;
        }
      }

      &.invalid {
        border-color: $color-red !important;
      }
    }

    &__label {
      @include body-medium;
      color: $color-mono-black;
      
      @include mq('md', 'max') {
        @include mb-body-default;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 15.77px 10px 16.23px;
    @include body-medium;
    color: $color-mono-gray-darker;
    border-bottom: .2rem solid $color-mono-gray;
    transition: border-color $duration-300;

    &:focus {
      border-color: $color-brand-orange;
    }

    &.invalid {
      border-color: $color-red !important;
    }
  }

  &__select {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.6rem;
      height: 1.6rem;
      background: url(../images/icons/down-chevron.svg) center / cover no-repeat;
    }

    .form__input {
      border: .2rem solid $color-mono-gray;
      border-radius: .5rem;
    }
  }

  &__file {
    &__container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.6rem;
      border: .2rem dashed $color-mono-gray;
      border-radius: .5rem;
      cursor: pointer;

      &.active {
        .form__file__close {
          display: inline-flex;
        }
       }
    }

    &__input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    } 

    &__icon {
      width: 2rem;
      height: 2rem;
      margin-right: 2rem;   
    }

    &__label {
      @include body-medium;
      color: $color-brand-orange;
    }

    &__close {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1000;
      display: none;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      color: $color-mono-white;
      font-weight: 700;
      font-size: 1.3rem;
      line-height: 1;
      border-radius: 50%;
      background-color: $color-brand-orange;

      &:hover {
      }
    }

  }

  &__textarea {
    height: 20rem;
    border: .2rem solid $color-mono-gray;
    border-radius: .4rem;
  }

  [type=submit] {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none;
      width: 3rem;
      height: 3rem;
      background: url(../images/icons/loading.svg) center / cover no-repeat;
      animation: rotate 1s ease-in infinite;
    }

    &.loading {
      color: $color-mono-white;
      cursor: not-allowed;

      &::before {
        display: inline-block;
      }
    }
  }
}

@keyframes rotate {
  from {transform: translate(-50%, -50%) rotate(0deg)}
  to {transform: translate(-50%, -50%) rotate(360deg)}
}