.s-testimonials {
  position: relative;
  z-index: 100;
  background-color: $color-mono-white;
  padding-bottom: 2rem;
  
  @include mq('md', 'max') {
    padding-bottom: 12.1rem;
  }

  &__slider {
    width: calc(100% + (#{$container-padding} * 2));
    margin-left: -#{$container-padding};

    .swiper-slide {
      &.swiper-slide-active {
        .s-testimonials__text p {
          transform: translateX(0);
          opacity: 1;
        }

        .s-testimonials__quotation {
          left: -4rem;
          opacity: 1;
          
          @include mq('md', 'max') {
            left: $container-padding;
          }
        }

        .s-testimonials__infos {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
  
  &__item {
    display: flex;
    min-height: 54.5rem;
    background-color: $color-mono-white;
    
    @include mq('md', 'max') {
      flex-direction: column-reverse;
      min-height: auto;
      align-items: center;
    }
  }

  &__infos {
    transform: translateY(-5rem);
    display: flex;
    align-items: center;
    max-width: 47.8rem;
    width: 100%;
    opacity: 0;
    transition: all $duration-1000;

    @include mq('md', 'max') {
      position: relative;
      z-index: 1;
      margin-top: -5.5rem;
      flex-direction: column;
    }
  }

  &__picture {
    flex-shrink: 0;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 3rem;
    
    @include mq('md', 'max') {
      margin-right: 0;
      width: 11rem;
      height: 11rem;
      border: 1rem solid $color-mono-white;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include mq('md', 'max') {
      align-items: center;
      margin-top: .5rem;
    }
  }

  &__author {
    @include body-big-bold;
    color: $color-brand-orange;
  }
  
  &__company {
    @include body-medium-bold;
  }

  &__testimonial {
    background-color: $color-mono-gray-light;
    border-radius: 0 8rem 0 0;
  }

  &__text {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: auto;
    padding: 8.9rem;
    background: $color-mono-gray-light;
    border-radius: 0 8rem 0 0;
    overflow: hidden;

    @include mq('md', 'max') {
      padding: 8.5rem $container-padding 9.9rem;
    }

    p {
      transform: translateX(10rem);
      position: relative;
      z-index: 10;
      @include heading-h3;
      opacity: 0;
      transition: all $duration-1000;
      
      @include mq('md', 'max') {
        @include mb-body-big;
      }
    }
  }

  &__quotation {
    position: absolute;
    left: -14rem;
    top: 50%;
    transform: translateY(-50%);
    width: 40.6rem;
    height: 35.8rem;
    opacity: 0;
    transition: all $duration-1000;

    @include mq('md', 'max') {
      top: -.871rem;
      transform: unset;
      width: 17.6rem;
      height: 15.4rem;
    }
  }

  .slider-nav {
    position: absolute;
    left: 0;
    bottom: 9.6rem;
    z-index: 1000;
    display: inline-flex;
    align-items: center;

    @include mq('md', 'max') {
      position: relative;
      left: unset;
      bottom: unset;
      justify-content: center;
      width: 100%;
      margin-top: 6.1rem;
    }

    &__btn {
      width: 2.4rem;
      height: 2.4rem;
      color: $color-brand-orange;
      flex-shrink: 0;

      svg {
        width: 100%;
        height: 100%;
      }
    }
    &__pagination {
      width: unset;
      display: inline-flex;
      align-items: center;
      margin: 0 6rem;

      @include mq('md', 'max') {
        margin: 0 4rem;
      }

      .swiper-pagination-bullet {
        display: inline-flex;
        align-items: center;
        width: unset;
        height: unset;
        margin: 0;
        @include body-default;
        color: $color-mono-gray-dark;
        background-color: transparent;
        opacity: 1;
        transition: color $duration-300;

        &:not(:last-of-type) {
          margin-right: 2rem;

          &.swiper-pagination-bullet-active::after {
            content: '';
            position: relative;
            width: 3.6rem;
            height: .2rem;
            background-color: $color-mono-gray;
            margin-left: 2rem;
          }
        }

        &:last-of-type {
          &.swiper-pagination-bullet-active::before {
            content: '';
            position: relative;
            width: 3.6rem;
            height: .2rem;
            background-color: $color-mono-gray;
            margin-right: 2rem;
          }
        }

        &.swiper-pagination-bullet-active {
          @include body-big-bold;
          color: $color-brand-orange;
        }
      }
    }
  }
}