.toasty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(100% - 4rem);
  width: 100%;
  background: unset;
  @include body-medium;
  border-radius: .5rem;

  .toast-close {
    opacity: 1;
    color: $color-mono-white;
  }

  &.error {
    background-color: $color-red;
  }

  &.general {
    background-color: $color-yellow;
  }

  &.success {
    background-color: $color-green;
  }
}