/**
 * General Variables
 * Call on every SASS files
 */


/**
 * Colors
 */

// Brand Color
$color-brand-orange: #FF6719;
$color-brand-dark: #B84700;
$color-brand-light-10: #FFDECC;
$color-brand-linear: linear-gradient(169.63deg, #FF6719 -4.18%, #FF771F 71.06%);

// Mono
$color-mono-white: #FFFFFF;
$color-mono-gray-light: #F4F4F4;
$color-mono-gray: #EBEBEB;
$color-mono-gray-dark: #CCCCCC;
$color-mono-gray-darker: #999999;
$color-mono-black-light: #777777;
$color-mono-black: #353535;
$color-mono-black-dark: #222222;

// Green
$color-green: #73AA13;
$color-grey-10: #F1F6E7;

// Yellow
$color-yellow: #FED500;
$color-yellow-10: #FFFBE6;

// Red
$color-red: #DC1212;
$color-red-10: #FEF2F2;

/**
  * Screen Sizes
  */
$screen-xs : 576px !default;
$screen-sm : 768px !default;
$screen-md : 992px !default;
$screen-lg : 1200px !default;
$screen-xl : 1400px !default;
$screen-2xl : 1536px !default;
$screen-3xl : 1750px !default;

/**
  * Breakpoints - Media Queries
  */
$breakpoints: ('xs': $screen-xs,
  'sm': $screen-sm,
  'md': $screen-md,
  'lg': $screen-lg,  
  'xl': $screen-xl,
  '2xl': $screen-2xl,
  '3xl': $screen-3xl,
);

/**
  * Typography
  */
$font-main: 'GeneralSans', sans-serif; 
$font-title: 'Lust Text', sans-serif; 

/**
  * Font Weight
  */
$weights: (normal : 400,
  bold : 600,
  strong : 700,
);

/**
  * Shadows
  */
$shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
$shadow-sm: 0px 1px 3px rgba(16, 24, 40, 0.1),
0px 1px 2px rgba(16, 24, 40, 0.06);
$shadow-md: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
0px 2px 4px -2px rgba(16, 24, 40, 0.06);
$shadow-lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.1),
0px 4px 6px -2px rgba(16, 24, 40, 0.05);
$shadow-xl: 0px 20px 24px -4px rgba(16, 24, 40, 0.1),
0px 8px 8px -4px rgba(16, 24, 40, 0.04);
$shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.25);
$shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.2);

/**
  * Duration
  */
$duration-75: 75ms;
$duration-100: 100ms;
$duration-150: 150ms;
$duration-200: 200ms;
$duration-300: 300ms;
$duration-400: 400ms;
$duration-500: 500ms;
$duration-700: 700ms;
$duration-1000: 1000ms;

$container-padding: 2.5rem;