.main-job-details {
  // ###################################################################
  // ############## Vagas Detalhes Hero ################################
  // ###################################################################
  .s-hero--job {
    &::before {
      display: none;
    }
  
    .s-hero__img {
      mix-blend-mode: unset;
      opacity: 1;
      filter: brightness(.8);
    }
  
    .s-hero__text {
      p {
        color: $color-mono-gray-dark;
      }
    }
  }
  
  // ###################################################################
  // ############## Detalhes ###########################################
  // ###################################################################
  .s-job-details {
    position: relative;
    z-index: 1000;
    padding-top: 12rem;
    background-color: $color-mono-white;
    
    @include mq('md', 'max') {
      padding-top: 8rem;
    }
  
    &__wrapper {
      display: grid;
      gap: 6rem;
    }
  
    &__item {
      display: flex;
      justify-content: space-between;
  
      @include mq('md', 'max') {
        display: block;
      }
      
      &:not(:last-of-type) {
        .s-job-details__content {
          padding-bottom: 6rem;
          border-bottom: .2rem solid $color-mono-gray;
        }
      }
    }
  
    &__title {
      flex-shrink: 0;
      max-width: 20.9rem;
      width: 100%;
      @include body-medium-bold;
      color: $color-brand-orange;
      margin-right: 3rem;
      
      @include mq('md', 'max') {
        margin-right: 0;
      }
    }
  
    &__content {
      flex-grow: 1;
  
      @include mq('md', 'max') {
        margin-top: 1rem;
      }
  
      & > * {
        @include body-medium;
        color: $color-mono-black-light;
      } 
  
      ul {
        list-style: disc inside;
  
        li {
          &:not(:last-of-type) {
            margin-bottom: .5rem;
          }
        }
      }
    }
  }
  
  // ###################################################################
  // ############## Aplicar p/ posição #################################
  // ###################################################################
  .s-apply-position { 
    margin: 12rem 0;
    
    @include mq('md', 'max') {
      margin-top: 8rem;
    }
  
    &__main { 
      margin-top: 12rem;
      
      @include mq('md', 'max') {
        margin-top: 8rem;
      }
      
      .form { 
        &-column--3 {
          display: grid;
          grid-template-columns: 1fr 32.7rem 32.7rem;
          gap: 3.1rem;
  
          @include mq('md', 'max') {
            margin-bottom: 3.1rem;
            grid-template-columns: 1fr;
          }

          .form__field {
            @include mq('md', 'max') {
              margin-bottom: 0px;
            }
          }
        }
  
        &__bottom {
          display: flex;
          justify-content: flex-end;

          @include mq('md', 'max') {
            justify-content: center;
          }
        }
      }
    }
  }
}