.main-contact {
  display: flex;
  flex-direction: column;
  
  // Hero Section
  .s-hero {
    display: flex;
    min-height: 59rem;
    height: auto;
    background-color: $color-brand-orange;

    @include mq('md', 'max') {
      order: 1;
    }
  
    .container {
      min-height: 100%;
    }
  
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 95.5rem;
      width: 100%;
      height: 100%;
      padding: 7.6rem 0;
    }

    &__flex {
      flex-direction: column;
    }
  
    &__title {
      max-width: unset;
      @include heading-h2-bold;
      color: $color-mono-white;
      
      @include mq('md', 'max') {
        @include heading-h3-bold;
      }
    }
  
    &__text {
      max-width: unset;
      margin-top: 3rem;
  
      > * {
        @include body-big;
        color: $color-brand-light-10;

        &:not(:last-of-type) {
          margin-bottom: 2rem;
        }

        @include mq('md', 'max') {
          @include mb-body-medium;
        }
      }
    }
  }
  
  // Form
  .s-contact-form {
    position: relative;
    z-index: 1000;
    padding: 13.5rem 0 0;
    background-color: $color-mono-white;
  
    @include mq('md', 'max') {
      order: 2;
      padding: 6rem 0;
    }
  
    .form-column--3,
    .form-column--2 {
      display: grid;
      gap: 3.1rem;
      
      @include mq('md', 'max') {
        gap: 0;
      }
    }
  
    .form-column--3 {
      grid-template-columns: 1fr 32.7rem 32.7rem;
      @include mq('md', 'max') {
        grid-template-columns: 1fr;
      }
    }
    
    .form-column--2 {
      grid-template-columns: repeat(2, 1fr);
      @include mq('md', 'max') {
        grid-template-columns: 1fr;
      }
    }
  
    .form__bottom {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
  
      @include mq('md', 'max') {
        display: block;
      }
    }
  
    .form__checkbox-group {
      margin-right: 3rem;
    }

    [type=submit] {
      @include mq('md', 'max') {
        margin-top: 3rem;
      }

      @include mq('xs', 'max') {
        width: 100%;
      }
    }
  }

  // Contact
  .s-contact-infos {
    margin-top: 20rem;
    position: relative;
    z-index: 1000;
    padding: 8rem 0;
    background: $color-mono-gray-light;
    
    @include mq('md', 'max') {
      order: 3;
      padding: 6rem 0;
    }
  
    &__wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
  
      @include mq('md', 'max') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
      }
      
      @include mq('xs', 'max') {
        grid-template-columns: 1fr;
      }
    }
  
    &__column {
      &:not(:last-of-type) {
        margin-right: 2rem;
        
        @include mq('md', 'max') {
          margin-right: 0;
        }
      }
    }
  
    &__title {
      margin-bottom: 1rem;
      @include body-big-bold;
      color: $color-brand-orange;
      
      @include mq('md', 'max') {
        @include mb-body-big-bold;
      }
    }
  
    &__address {
      @include body-medium;
  
      @include mq('md', 'max') {
        @include mb-body-medium;
      }
    }
  
    &__link {
      display: inline-flex;
      align-items: center;
      @include body-medium;
  
      @include mq('md', 'max') {
        @include mb-body-medium;
      }
  
      &:hover {
        color: $color-brand-orange;
      }
  
      svg {
        margin-right: 1.2rem;
      }
  
      &--email {
        svg {
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 1rem;
        }
      }
    }
  
    &__social {
      display: flex;
      align-items: center;
      &__item {
        &:not(:last-of-type) {
          margin-right: 3.4rem;
        }
      }
  
      &__link {
  
        &:hover {
          color: $color-brand-orange;
        }
  
        svg {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }
  }
}


.page-id-257 {
  .s-footer {
    padding: 10rem 0 0;
    background: unset;
    & > div {
      display: none;
    }
  }
}