#login-blaze.loading {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJtYXJnaW46YXV0bztiYWNrZ3JvdW5kOjAgMCIgd2lkdGg9IjMxIiBoZWlnaHQ9IjMxIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQiIGRpc3BsYXk9ImJsb2NrIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMTAiIHI9IjM1IiBzdHJva2UtZGFzaGFycmF5PSIxNjQuOTMzNjE0MzEzNDY0MTUgNTYuOTc3ODcxNDM3ODIxMzgiPjxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgZHVyPSIxcyIgdmFsdWVzPSIwIDUwIDUwOzM2MCA1MCA1MCIga2V5VGltZXM9IjA7MSIvPjwvY2lyY2xlPjwvc3ZnPg==");
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

#login-blaze {
  order: 2;
  margin: 0 12px 12px 12px !important;
}

.label-login {
  padding: 3px 8px;
  margin: 0 12px 12px 12px !important;
  display: inline-flex;
  order: 1;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  display: block;
  width: 100%;
}

.label-login svg {
  width: 12px;
  top: 1px;
  position: relative;
  margin-right: 5px;
  fill: currentColor;
}

.label-login.-error {
  color: #942220;
  background-color: #ffeeed;
  border: 1px solid #942220;
}

.label-login.-success {
  color: #217662;
  background-color: #f0fcf6;
  border: 1px solid #217662;
}

.not-allowed .acf-input {
  cursor: not-allowed;
}

body:not(.administrator) .not-allowed label,
body:not(.administrator) .not-allowed .acf-true-false,
body:not(.administrator) .not-allowed label,
body:not(.administrator) .not-allowed .acf-true-false {
  pointer-events: none;
}

/* Default fields to hide */
body:not(.administrator).toplevel_page_signals-list #wpcontent,
body:not(.administrator) #wp-admin-bar-site-name,
body:not(.administrator) #wp-admin-bar-site-name a.ab-item {
  pointer-events: none;
}

form#your-profile h2,
li#wp-admin-bar-wp-logo,
li#wp-admin-bar-comments,
li#wp-admin-bar-new-content,
div#application-passwords-section,
tr.user-url-wrap,
tr.user-language-wrap,
tr.user-nickname-wrap,
tr.user-profile-picture,
tr.user-admin-color-wrap,
tr.user-description-wrap,
tr.user-display-name-wrap,
tr.user-capabilities-wrap,
tr.user-rich-editing-wrap,
tr.user-comment-shortcuts-wrap,
tr.show-admin-bar.user-admin-bar-front-wrap,
table.form-table[role="presentation"]:nth-of-type(6),
span.material-icons-outlined.uip-background-icon.uip-padding-xxs.uip-border-round.hover\:uip-background-grey.uip-cursor-pointer,
.uip-background-dark.uip-padding-xxs.uip-padding-left-xs.uip-padding-right-xs.uip-border-round.hover\:uip-background-secondary.uip-cursor-pointer.uip-flex.uip-flex-center.uip-text-inverse,
a.material-icons-outlined.uip-background-icon.uip-padding-xxs.uip-border-round.hover\:uip-background-grey.uip-cursor-pointer.uip-toolbar-link.uip-no-underline.uip-no-outline.uip-margin-left-xs {
  display: none;
}

body:not(.administrator)
  .uip-w-500.uip-background-default.uip-padding-m.uip-max-h-viewport.uip-overflow-auto
  > div
  > div:last-child
  > div:last-child
  > div:nth-of-type(2),
body:not(.administrator)
  .uip-w-500.uip-background-default.uip-padding-m.uip-max-h-viewport.uip-overflow-auto
  > div
  > div:last-child
  > div:last-child
  > div:nth-of-type(3) {
  display: none;
}

body:not(.administrator) .uip-legacy-admin.uip-flex-grow {
  opacity: 0;
  pointer-events: none;
}

.uip-flex.uip-flex-center.uip-flex-between.uip-border-round.uip-background-muted.hover\:uip-background-grey.uip-cursor-pointer.uip-padding-xs {
  display: none;
}

/*
 * Ajustes da cor do tema
 */

html[data-theme="dark"] table.form-table label {
  color: var(--uip-text-color-normal) !important;
}

html[data-theme="dark"] table.form-table .acf-fields.-border {
  border: var(--uip-border-width) solid var(--uip-border-color);
  background: var(--uip-menu-secondary-color);
}

html[data-theme="dark"] table.form-table .acf-switch .acf-switch-slider {
  border-color: var(--uip-background-grey);
}

html:not([data-theme="dark"]) table.form-table .acf-switch .acf-switch-on {
  text-shadow: var(--uip-background-grey);
}

html:not([data-theme="dark"]) table.form-table .acf-switch.-on {
  background: var(--uip-button-primary-hover-bg);
  border-color: var(--uip-background-grey);
}

html:not([data-theme="dark"]) table.form-table .acf-switch:hover,
html:not([data-theme="dark"]) table.form-table .acf-switch.-focus {
  border-color: var(--uip-button-primary-bg);
  color: var(--uip-button-primary-bg);
}

html:not([data-theme="dark"]) table.form-table .acf-switch:hover .acf-switch-slider,
html:not([data-theme="dark"]) table.form-table .acf-switch.-focus .acf-switch-slider {
  border-color: var(--uip-button-primary-bg);
}

html[data-theme="dark"] .label-login.-error {
  color: white;
  background-color: #0f1922;
  border: 1px solid #f20024;
}

html[data-theme="dark"] .label-login.-success {
  color: white;
  background-color: #0f1922;
  border: 1px solid #228b22;
}

/* popup */
.popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 99999;
  position: fixed;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  background: transparent;
  transition: all 0.3s;
}
.popup.active {
  opacity: 1;
  pointer-events: unset;
  background: rgba(0, 0, 0, .7);
}
.popup-wrapper {
  position: relative;
}
.popup-wrapper img {
  max-height: calc(100vh - 40px);
  max-width: calc(100vw - 30px);
}
.popup-wrapper .close {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  font-family: cursive;
  transform: translate(50%, -50%);
  box-shadow: rgba(0, 0, 0, .2) 0px 8px 24px;
  cursor: pointer;
}
.popup-wrapper p{
  margin: 20px;
    background:var(--uip-menu-background);
    padding: 20px;
    border-radius: 5px;
    color: var(--uip-text-color-normal);
    font-size: 15px;
    font-weight: 400;
}

/* teste */
tr.user-sessions-wrap.hide-if-no-js,
tr.user-first-name-wrap,
tr.user-last-name-wrap,
tr.user-user-login-wrap,
tr.user-email-wrap,
tr#password {
  display: none;
}